@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Registro de Covid</h1>
    <p>
        El siguiente formulario es para llevar el registro de casos reportados
        <br>de Covid por departamento y genero
    </p>
    <form asp-action="CrearRegistros">
        @*Inicio del formulario*@
        <div class="row mb-3">

            <h3 class="col-sm-2 col-form-label">Reportar Casos</h3>
        </div>
        <div class="row">
            <div class="col-xl">
                <p>Departamento</p>
                @Html.DropDownList("id_departamento", ViewData["listaDep"] as SelectList, "Seleccione un departamento", new {@class="form-control"})
            </div>
            <div class="col-xl">
                <p>Género</p>
                @Html.DropDownList("id_genero", ViewData["listaGeneros"] as SelectList, "Seleccione un genero", new {@class="form-control"})
            </div>
        </div>
        <br>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <p>Casos confirmados</p>
                    @Html.TextBox("confirmados", "", new{@class = "form-control"})
                </div>
                <div class="col">
                    <p>Número de recuperados</p>
                    @Html.TextBox("recuperados", "", new{@class = "form-control"})
                </div>
                <div class="col">
                    <p>Número de fallecidos</p>
                    @Html.TextBox("fallecidos", "", new{@class = "form-control"})
                </div>
            </div>
            <br>
            <div class="d-grid gap-2">
                <button class="btn btn-success" type="submit">Guardar Registro</button>
            </div>
        </div>
        <br>
        <br>
        <h3>Casos Reportados</h3>
        <table class="table table-sm">
            <thead>
               <tr>
                   <th>Departamento</th>
                   <th>Genero</th>
                   <th>Confirmados</th>
                   <th>Recuperados</th>
                   <th>Fallecidos</th>
               </tr> 
            </thead>
            <tbody>
                @*Si esto da error, avisenme*@
                @foreach (var registro in (IEnumerable<dynamic>)ViewData["registroCovid"])
                {
                    <tr>
                        <td>@registro.departamento</td>
                        <td>@registro.genero </td>
                        <td>@registro.confirmados</td>
                        <td>@registro.recuperados</td>
                        <td>@registro.fallecidos</td>
                    </tr>

                }@*Si esto da error, avisenme*@
            </tbody>
        </table>
        @*Fin del formulario*@
    </form>

</div>
